.footer {
  background-color: #2d0000;
  color: #ffffff;
  padding: 10px 0; /* Reduce padding to make it smaller */
  text-align: center;
}

.footer__address {
  font-style: normal;
  margin-bottom: 10px; /* Adjust margin for spacing */
}

.footer p {
  margin-bottom: 5px; /* Adjust margin for spacing */
}

.footer a {
  color: #421414;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}