.footer {
  background-color: #2d0000;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  margin-top: 50px; /* Adjust as needed to provide consistent spacing */
}

.footer__address {
  font-style: normal;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}