body {
    margin: 0;
}

/* Home.module.css */
.background {
    background-image: url('/images/wallpapersden.com_ufc-3-conor-mcgregor_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust the height as needed */
}

.homepageTitle {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.homepageSubtitle {
    font-size: 1.5rem;
    text-align: center;
    color: white; /* Adjust text color and opacity */
}
