.custom-toast {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.custom-toast-success {
    background-color: green;
}

.custom-toast-error {
    background-color: red;
}